section.wp-block-sections-blog-reference-section {
	container-type: inline-size;
	container-name: blog-reference-section;
	display: grid;
	gap: 80px;
	align-items: flex-start;

	header {
		display: grid;
	}

	.blogs-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		align-items: flex-start;

		.blog-post {
			.image-wrapper {
				img {
					width: 100%;
					height: auto;
					aspect-ratio: 16/9;
					border-radius: 8px;
				}

				>div {
					display: flex;
					flex-wrap: wrap;
					gap: 16px;

					.categories {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						gap: 8px;

						span {
							padding: 4px 8px;
							border-radius: 500px;
							background-color: #EDEDED;
						}
					}

					.reading-time {
						display: flex;
						align-items: center;
						gap: 4px;

						span {
							color: #373737;
							font-family: Roboto;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: 150%;
						}
					}
				}
			}

			.blog-contents-wrapper {
				.wp-block-button__link {
					border: 1px solid transparent;
					color: #388E3C;
					border-radius: 16px;
					background: var(--wp--preset--gradient--button-border-gradient);
					padding: 8px 16px;
					transition:
						transform 0.2s ease-in-out,
						box-shadow 0.2s ease-in-out;
					text-decoration: none;

					&:focus {
						background:
							linear-gradient(#cef0cf, #baebbc) padding-box,
							linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) border-box;
						transform: translateY(-2px);
						box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
					}

					&:hover {
						background:
							linear-gradient(#cef0cf, #baebbc) padding-box,
							linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) border-box;
						transform: translateY(-2px);
						box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
					}

					&:active {
						background:
							linear-gradient(#c4f3c5, #a5e9a7) padding-box,
							linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) border-box;
						transform: translateY(0);
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
					}
				}
			}
		}
	}

	@container (max-width: 850px) {
		.blogs-wrapper {
			grid-template-columns: repeat(2, 1fr);

			.blog-post:nth-child(3) {
				grid-column: 1 / 2 span;
				place-self: center;
				max-width: 500px;
			}
		}
	}

	@container (max-width: 550px) {
		.blogs-wrapper {
			grid-template-columns: 1fr;

			.blog-post:nth-child(3) {
				grid-column: 1;
				max-width: unset;
				place-self: unset;
			}
		}
	}
}