div.wp-block-components-three-cards {
    grid-template-columns: 1fr;

    >div>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (width < 876px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (width < 499px) {
            grid-template-columns: 1fr;
        }
    }
}