/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-atoms-break-vertical {
	display: grid;
	place-items: center;
	position: relative;
	height: 100%;
	background-color: #FFFFFF;

	figure {
		padding: 32px;
		z-index: 1;
		background-color: #FFFFFF;
		width: 44px;
	}

	span {
		border-left: solid 1px #CFEBD0;
		left: 50%;
		position: absolute;
		height: 90%;
	}

	@media (max-width:950px) {
		span {
			border-left: unset;
			border-top: solid 1px #CFEBD0;
			left: unset;
			top: 50%;
			width: 90%;
		}
		figure {
			margin-bottom: unset;
		}
	}
}