<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:pattern {"slug":"plugin-patterns/homepage-hero"} /-->
	<!-- wp:pattern {"slug":"plugin-patterns/mask"} /-->
	<!-- wp:pattern {"slug":"plugin-patterns/three-images"} /-->
	<!-- wp:pattern {"slug":"plugin-patterns/cta-section"} /-->
	<!-- wp:pattern {"slug":"plugin-patterns/homepage-about"} /-->
	<!-- wp:pattern {"slug":"plugin-patterns/main-content-with-side-content-section"} /-->
	<!-- wp:pattern {"slug":"plugin-patterns/faq-pattern"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->