div.wp-block-atoms-animated-scroll-card {
  --border-gradient: linear-gradient(87deg, #FFFFFF, #FFFFFF); // start "empty"

  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;

  background:
    linear-gradient(#F8F8F8) padding-box,
    var(--border-gradient) border-box;

  background-clip: padding-box, border-box;
  background-origin: border-box;
  transform-origin: top;

  .line {
    width: 3px;
    left: 50%;
    background: #48974C;
    bottom: -16px;
    position: absolute;
    height: 16px;
    transform-origin: top;
    transform: scaleY(0);
  }
}