div.wp-block-atoms-custom-loginout {
	display: flex;
	gap: 12px;
	position: relative;
	justify-self: end;
	align-self: center;

	a {
		color: #000;
		font-size: 16px;
		text-decoration: none;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 1px;
			background: linear-gradient(90deg, #388E3C, #B0DDB2);
			transition: transform 0.25s ease-in-out;
			transform: scaleX(0);
			transform-origin: left;
		}

		&:hover {
			color: #2e7030;

			&::after {
				transform: scaleX(1);
			}
		}
		&:focus {
			color: #2e7030;

			&::after {
				transform: scaleX(1);
			}
		}
	}

	a::before {
		content: "";
		position: absolute;
		inset: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	figure {
		margin-bottom: unset;
	}

	&:focus-within {
		outline-offset: 4px;
		outline: 2px solid #388E3C;

		a {
			outline: unset;
		}
	}
}