div.wp-block-atoms-text-icon {
	display: flex;
	gap: 8px;
	place-items: center;

	figure {
		width: 20px;
		height: 20px;
		display: grid;
		place-items: center;
		border-radius: 500px;
		background: #00000026;
		margin: unset !important;

		img {
			flex-shrink: 0;
		}
	}
}