section.wp-block-sections-privacy-policy-template {
	container-type: inline-size;
	container-name: custom-post-template;

	@container custom-post-template (max-width: 600px) {
		.wrapper {
			flex-direction: column;
		}

		.wrapper .toc {
			min-width: unset !important;

			>ul {
				position: unset;
				border-right: unset;
				padding-right: unset;
			}
		}

	}

	.wrapper {
		display: flex;
		position: relative;
		overflow: unset;
		gap: clamp(16px, 4vw, 80px);
	}

	.toc {
		min-width: clamp(220px, 25vw, 379px);

		a {
			position: relative;
			text-decoration: none;
			transition: color 0.25s ease-in-out;
			width: fit-content;
		}

		a::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 1px;
			background: linear-gradient(90deg, #388E3C, #B0DDB2);
			transition: transform 0.25s ease-in-out;
			transform: scaleX(0);
			transform-origin: left;
		}

		a:hover {
			color: #2e7030;
		}

		a:hover::after {
			transform: scaleX(1);
		}

		a:focus {
			outline: none;
			color: #276329;
		}

		a:focus::after {
			transform: scaleX(1);
		}


		>ul {
			position: sticky;
			top: 40px;
			margin: unset;
			padding: unset;
			display: grid;
			gap: 8px;
			border-right: 1px solid #388E3C;
			padding-right: 24px;
			overflow-y: scroll;
			max-height: 600px;
		}

		ul>li {
			list-style: none;
			transition: background-color 0.3s linear;
			display: grid;
			grid-template-columns: 0.01fr 1fr;
			gap: 8px;
			align-items: center;
			padding: 8px 20px 8px 12px;

			>ul {
				grid-column: 1 / span 2;
				overflow: hidden;
				max-height: 0px;
				transition: max-height 0.4s ease;
				padding-left: 32px;
			}

			.arrow {
				border: 2px solid #388E3C;
				border-radius: 4px;

				>path {
					transition: rotate 1s ease;
					transform-origin: 50% 50%;
				}
			}

			&.in-view {
				border-radius: 8px;
				background: rgba(56, 142, 60, 0.15);

				.arrow path {
					rotate: -90deg
				}

				ul {
					max-height: 1000px;
				}
			}
		}
	}


	.policy-wrapper {
		>* {
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.4s ease, transform 0.4s ease;
		}

		>.animate-child {
			opacity: 1;
			transform: translateY(0px);
		}

		>h2 {
			counter-increment: h2-counter;

			&::before {
				content: counter(h2-counter);
				left: 0;
				margin-right: 12px;
			}
		}

		li::marker {
			content: "•   ";
			color: black !important;
		}
	}
}