@media (max-width: 950px) {
  .break-at-950 {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}

@media (max-width:650px) {
  .wrap-at-650 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.faq-section {
  grid-template-columns: 1fr 0.1fr 1fr;
}

.contact-form {
  display: grid;
  grid-template-columns: 1.5fr 0.1fr 1fr;
  gap: 8px;
}

@media (max-width: 1150px) {
  .contact-form {
    grid-template-columns: 1fr 0.1fr 1fr;
  }
}

.max-w-427 {
  max-width: 427px;
}

.place-center {
  display: grid;
  place-self: center;
  place-content: center;
}


.button-white>a {
  background: #FFFFFF !important;
}

.icon-bg {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 500px;
  background: #CDE3CE;
}

.icon-bg>img,
.icon-bg>svg {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  place-self: center !important;
}

.icon-bg {
  display: grid !important;
  place-items: center;
}

.max-w-645 {
  max-width: 645px !important;
}

input:focus,
textarea:focus {
  outline-color: #388E3C;
}

.icon-bg-small {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  border-radius: 500px;
  background: rgba(56, 142, 60, 0.25);
  backdrop-filter: blur(2px);
}

.icon-bg-small>img,
.icon-bg-small>svg {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  place-self: center !important;
}

.max-w-728 {
  max-width: 728px !important;
}

.flex-shrink-0 {
  display: flex;
  flex-shrink: 0;
}

.icon-bg-green {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  background:
    linear-gradient(#388E3C, #388E3C) padding-box,
    linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) border-box;
  width: 36px;
  height: 36px;
  border-radius: 500px;
}
