@media (max-width: 950px) {
  .break-at-950 {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}

.button-white>a {
  background: #FFFFFF !important;
}

.icon-bg {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 500px;
  background: #CDE3CE;
}

.icon-bg>img,
.icon-bg>svg {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  place-self: center !important;
}

.icon-bg {
  display: grid !important;
  place-items: center;
}

.max-w-645 {
  max-width: 645px !important;
}

input:focus,
textarea:focus {
  outline: -1px;
  outline-color: #388E3C;
}