/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-atoms-stacked-images {
	container-type: inline-size;
	container-name: stacked-images;
	max-width: 400px;
	padding: 50px;
	width: 100%;
	justify-self: flex-end;

	.wrapper {
		position: relative;
	}

	figure:nth-child(5n + 1) img {
		width: 100% !important;
		aspect-ratio: 1/1;
		object-fit: cover;
		z-index: 0;
	}

	figure:nth-child(5n + 2) img {
		position: absolute;
		right: -50px;
		bottom: -50px;
		max-width: 200px;
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	figure:nth-child(5n + 3) {
		padding: 22px;
		position: absolute;
		background: rgba(207, 235, 208, 0.35);
		backdrop-filter: blur(6px);
		border: 1px solid #FFF;
		top: -50px;
		right: -50px;
		border-radius: 8px;

		img {
			width: 64px !important;
			aspect-ratio: 1/1;
			flex-shrink: 0;
		}
	}

	figure:nth-child(5n + 4) {

		padding: 13.5px;
		border: 1px solid #FFF;
		background: rgba(207, 235, 208, 0.35);
		backdrop-filter: blur(6px);
		position: absolute;
		bottom: 34px;
		left: -34px;
		border-radius: 8px;

		img {
			width: 40px !important;
			aspect-ratio: 1/1;
			flex-shrink: 0;
		}
	}

	img {
		border-radius: 8px;
	}

	@media(max-width: 530px) {

		figure:nth-child(5n + 2) {
			margin: unset !important;

			img {
				position: relative;
				max-width: unset;
				aspect-ratio: 1/1;
				object-fit: cover;
				right: unset;
				bottom: unset;
				width: 100% !important;

			}
		}

		figure:nth-child(5n+3) {
			right: -20px;
			top: -20px;
		}

		figure:nth-child(5n+4) {
			left: -20px;
		}

		figure:nth-child(n + 3) {
			padding: 8px;

			img {
				width: 35px !important;
			}
		}
	}

	@media (max-width: 950px) {
		justify-self: center;
	}
}