section.wp-block-components-enumerated-cards {
	container-type: inline-size;
	container-name: enumerated-cards;
	width: 100%;

	.wp-block-columns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 8px;

		.wp-block-column {
			position: relative;
			border-radius: 8px;
			background: #F8F8F8;

			.arrow {
				display: block;
				width: 24px;
				height: 25px;
				position: absolute;
				top: calc(50% - 30px);
				right: -30px;
				border-radius: 500px;
				border: 3px solid #F8F8F8;
				background: #FFF;
				backdrop-filter: blur(6px);
				padding: 12px;
				z-index: 2;
			}
		}

		@container enumerated-cards (max-width: 1200px) {
			grid-template-columns: repeat(2, 1fr);

			.wp-block-column {
				.arrow[iter="1"] {
					display: none;
				}
			}
		}

		@container enumerated-cards (max-width: 600px) {
			grid-template-columns: 1fr;

			.wp-block-column {
				.arrow {
					transform: rotate(90deg);
					top: unset;
					right: unset;
					bottom: -32px;
					left: calc(50% - 32px);
				}

				.arrow[iter="1"] {
					display: block;
				}
			}
		}
	}
}