div.wp-block-components-triple-separated-cards {
    container-type: inline-size;
    container-name: separated-cards;
    width: 100%;
    --columns-gap: clamp(10px, 3.5vw, 64px);

    .wp-block-columns {
        gap: var(--columns-gap);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .wp-block-column:not(:last-child) {
        border-right: 1px solid #CFEBD0;
        padding-right: calc(var(--columns-gap) / 2);
    }

    @container (max-width: 780px) {
        .wp-block-column:not(:last-child) {
            border-right: unset;
            padding-right: unset;
            border-bottom: 1px solid #CFEBD0;
            padding-bottom: var(--columns-gap);
        }

        .wp-block-columns {
            grid-template-columns: 1fr;
        }
    }
}