section.wp-block-sections-cta-section {
	margin-right: unset !important;
	margin-left: -32px !important;
	display: grid;
	place-items: center;
	max-width: unset;
	overflow: hidden;
	width: calc(100% + 64px - 2px); //border is 2px here;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
		linear-gradient(0deg, rgba(57, 81, 58, 0.92) 0%, rgba(57, 81, 58, 0.92) 100%),
		url("/assets/images/planting-flowers.webp");

	h2 {
		color: #FFF;
		text-align: center;
		font-size: 40px;
		font-style: normal;
		font-weight: 500;
	}

	p {
		color: #FFF;
		text-align: center;
		font-size: 16px;
	}

	.wp-block-button__link {
		background: #FFF;
	}

	border: 1px solid transparent;
	border-image: linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) 1;
}