div.wp-block-components-post-info {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
	justify-content: center;
	align-items: center;
	padding-top: 48px;

	border-top: 1px solid #252525;

	.categories {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		justify-content: center;

		.pill-category {
			display: flex;
			padding: 4px 8px;
			border-radius: 500px;
			background: #EDEDED;
			text-decoration: none;
			position: relative;
			border: 1px solid transparent;
			transition:
				transform 0.25s ease-in-out,
				background 0.25s ease-in-out,
				color 0.25s ease-in-out,
				border 0.25s ease-in-out;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 5px;
				width: calc(100% - 16px);
				left: 8px;
				height: 1px;
				background: linear-gradient(90deg, #388E3C, #B0DDB2);
				transition: transform 0.25s ease-in-out;
				transform: scaleX(0);
				transform-origin: left;
			}

			&:hover {
				color: #2e7030;
				background:
					linear-gradient(#c4f3c5, #a5e9a7) padding-box,
					linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) border-box;
			}

			&:hover::after {
				transform: scaleX(1);
			}

			&:focus {
				background:
					linear-gradient(#c4f3c5, #a5e9a7) padding-box,
					linear-gradient(93deg, #388E3C -11.08%, #B0DDB2 106.87%) border-box;
				color: #276329;
			}

			&:focus::after {
				transform: scaleX(1);
			}
		}
	}

	.author-info {
		display: flex;
		gap: 16px;

		img {
			border-radius: 56px;
			width: 56px;
			height: 56px;
			aspect-ratio: 1/1;
			object-fit: cover;
		}

		.wrapper {
			display: grid;
			gap: unset !important;

			.author-name {
				color: #212121;
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
			}

			.author-nickname {
				color: #212121;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
			}
		}
	}
}