section.wp-block-sections-bg-image-hero-section {
	background: #F8F8F8;
	position: relative;
	display: grid;
	place-items: center;
	overflow: hidden;
	width: 100%;
	max-width: unset !important;
	margin-left: -32px !important;
	padding: 32px;

	figure {
		position: absolute;
		right: 29px;
		bottom: -78px;
	}
}