/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-atoms-image-with-icon-annotations {
	.wrapper {
		container-type: inline-size;
		container-name: image-with-icon-annotations;
		max-width: 513px;
		width: 100%;
		justify-self: flex-end;

		.wrapper {
			position: relative;
		}

		figure:nth-child(1) img {
			width: 100% !important;
			aspect-ratio: 4/3;
			object-fit: cover;
			z-index: 0;
		}

		figure:nth-child(2) {
			padding: 22px;
			position: absolute;
			background: rgba(207, 235, 208, 0.35);
			backdrop-filter: blur(6px);
			border: 1px solid #FFF;
			top: -44px;
			left: 36px;
			border-radius: 8px;

			img {
				width: 64px !important;
				aspect-ratio: 1/1;
				flex-shrink: 0;
			}
		}

		figure:nth-child(3) {
			padding: 14px;
			position: absolute;
			background: rgba(207, 235, 208, 0.35);
			backdrop-filter: blur(6px);
			border: 1px solid #FFF;
			bottom: -50px;
			right: -50px;
			border-radius: 8px;

			img {
				width: 64px !important;
				aspect-ratio: 1/1;
				flex-shrink: 0;
			}
		}

		img {
			border-radius: 8px;
		}

		@container (max-width: 500px) {
			figure:nth-child(2) {
				padding: 11px;
				top: -22px;

				img {
					width: 32px !important;
				}
			}

			figure:nth-child(3) {
				padding: 7px;
				bottom: -25px;
				right: -25px;

				img {
					width: 32px !important;
				}
			}
		}
	}
}